<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.modelbased.net/ConstraintML" 
       class = "net.modelbased.constraintML.ConstraintMLPackage"
       genModel = "model/generated/ConstraintML.genmodel" /> 
	
  </extension>



   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ConstraintExt -->
      <package
            uri="http://www.modelbased.net/constraint/constraintext"
            class="net.modelbased.constraintext.ConstraintExtPackage"
            genModel="src/net/modelbased/model/ConstraintExt.genmodel"/>
   </extension>

</plugin>
