<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated VmPlacement -->
      <package
            uri="http://www.sintef.no/ict/vmplacement"
            class="VmPlacement.VmPlacementPackage"
            genModel="model/VmPlacement.genmodel"/>
   </extension>

</plugin>
