<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://dsg.cs.tcd.ie/smarthouse"
            class="SmartHouse.SmartHousePackage"
            genModel="model/SmartHouse.genmodel"/>
   </extension>

</plugin>
